@media only screen and (max-width: 768px) {
  body {
    margin-top: 100px;
  }
  .navbar {
    padding: 15px 12px;
  }
  #carouselExampleControls {
    margin-top: 10%;
  }
  .tab-content {
    .tab-pane {
      margin-top: 30px;
      margin-left: 20px;
      p {
        color: rgb(39, 34, 34);
        width: 90%;
      }
    }
  }
  #flip {
    margin-top: 30px;
  }
  .card {
    margin-bottom: 15px;
  }
  .frame {
    .container {
      .text-center {
        a {
          color: black;
          font-size: 20px;
          text-decoration: none;
          border-radius: 20px;
          padding: 10px 10px;
          text-transform: uppercase;
          background-color: rgba(161, 116, 116, 0.568);
          &:hover {
            background-color: black;
            color: white;
            box-shadow: 1px 0px 12px 3px black;
          }
        }
      }
    }
  }
}
